
<div class="pos-f-t">
  <nav class="navbar navbar-dark">

    <button class="navbar-toggler mx-3  ms-5" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
    <h1 class="logo-title" id="logo">ToDo<span>List</span></h1>
    </a>
    <div class="navbar-brand icons">
     <a target="_blank" href="https://github.com/Guimonteirol"><i class="bi bi-github"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/guilhermemonteirol/"><i class="bi bi-linkedin"></i></a>
      <a href=""><i class="bi bi-envelope me-5"></i></a>
    </div>
  </nav>
</div>