<div class="container all">
  <div id="new-task">
      <form action="/update" method="POST">
      <div id="conteudo">
           <h4 class="modal-title mb-4 text-center text-uppercase">EDITAR</h4>
          <input type="hidden" name="_id" id="_id" value="{{todo._id}}" />

        <label class="this" >
            <input type="text" name="title" id="title" value="{{todo.title}}" class="form-control form-control-sm">
        </label>
        <label >
           <input type="text" name="description" id="description" value="{{todo.description}}">
        </label>
        <label>
          <div class="input-group mb-3 ">
            <select name="urgency" class="custom-select " id="inputGroupSelect02">
              <option value="Sem prioridade" selected>{{todo.urgency}}</option>
              <option value="Sem prioridade" >Sem prioridade</option>
              <option value="Prioridade">Prioridade</option>
              <option value="Urgente">Urgente</option>
            </select>
        
          </div>
        </label>
        <button type="submit" class="btn bg-success text-uppercase">ATUALIZAR</button>
      </div>
    </form>
  </div>
  </div>
 
