*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.all{
    display: flex;
    align-items: center;
    height: 100vh;
}
label{
    display: flex;
}

body{
    background: linear-gradient(135deg,  #444444, rgb(189, 188, 188));
    height: 100h;
    width: 100%;
}

h1 {
    font-size: 38px;
    position: absolute;
    top: 40px;
    right:45%;
    color: #fff;
    
  }

  h1 p {
    position: relative;
    font-size: 9.5px;
    font-weight: 400;
    letter-spacing: 0.3px;
    top: -2%;
    left: -4%;
    color: #a9a9a9;
  }
  

.container {
    border: 2px solid white;
    width: 40%;
    min-width: 420px;
    padding: 30px 40px;
  }

#conteudo{
    background: white;
    padding: 30px 20px;
    box-shadow: 0 15px 30px;
    border-radius: 5px;
}

#tasks {
  
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
  }

#new-task {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  }


#conteudo label.this{
    margin-bottom: 20px;
}

#conteudo input, select {
    width: 900px;
    height: 70%;
    font-size: 15px;
    font-weight: 500;
    padding: 12px;
    border: 2px solid #d1d3d4;
    position: relative;
    border-radius: 5px;
}

#conteudo input:focus, select:focus{
    outline: none;
    border-color: #527bec ;
}

#conteudo button{
    border: none;
    background: #8052ec ;
    padding: 13px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.caixas{
    background-color: white;
    border-radius: 5px;
    height: 70px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
}

.caixas button{
    border: none;
    background: #8052ec ;
    padding: 13px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.completo{
    text-decoration: line-through;
}

#boxbtn{
    display: flex;
    margin: 10px;
    margin-right: 0;
}

#boxbtn form button{
    margin-right: 10px;
    
}

#boxtask p{
  display: block;
  margin: 0;
 
  
}

select{
    height:40px;
    margin-top: 20px;
}
